@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    max-width: 100%;
}

body,
html {
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
}

a:link {
    text-decoration: none;
}

ul {
    margin-bottom: 0;
}

li {
    list-style: none;
}

.mt-10 {
    margin-top: 6rem;
}

.mb-10 {
    margin-bottom: 6rem;
}

.mt-15 {
    margin-top: 10rem;
}

.mb-15 {
    margin-bottom: 10rem;
}

input:focus,
textarea:focus {
    outline: none;
}

/* Header and sidebar css */
.header {
    position: absolute;
    width: 100%;
    padding: 35px 100px;
    z-Index: 1000;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__left {
    display: flex;
    align-items: center;
}

.contact-nav,
.menu-bars {
    border: 1px solid rgba(255, 255, 255, 0.40);
    padding: 16px 24px;
    border-radius: 48px;
    display: flex;
    align-items: center;
    margin-left: 12px;
}

.contact-nav__blue,
.menu-bars__blue {
    border: 1px solid rgba(35, 56, 82, 0.40);
    padding: 16px 24px;
    border-radius: 48px;
    display: flex;
    align-items: center;
    margin-left: 12px;
}

.menu-bars,
.menu-bars__blue {
    font-size: 2rem;
    padding: 10px 24px;
}

.contact-nav a {
    color: var(--White, #FFF);
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    margin-right: 10px;
}

.contact-nav__blue a {
    color: var(--White, #233852);
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    margin-right: 10px;
}

.contact-nav__blue svg,
.menu-bars__blue svg {
    color: #233852 !important;
}

.nav-menu {
    background: var(--Black, #233852);
    width: 50%;
    height: 100vh;

    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;
}

.nav-menu.active {
    left: 0;
    transition: 950ms;
    z-index: 1000;
}

.nav-text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    height: 90px;
}

.nav-text a {
    text-decoration: none;
    color: var(--White, #FFF);
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    text-transform: capitalize;
    padding: 0 16px;
    border-radius: 4px;
}

.nav-text a:hover {
    font-weight: 600;
    transition: 50ms;
}

.nav-menu-items {
    width: 100%;
}

.navbar-toggle {
    background-color: var(--Black, #233852);
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.logo{
    height: 45px;
    width: 220px;
}

/* Footer css */
.footer__top .container,
.footer__bottom .container,
.our__subsidiaries--list {
    display: flex;
    justify-content: space-between;
}

.footer__bottom .container {
    align-items: center;
}

.footer__top {
    background: #1A2635;
    padding: 70px 35px 20px;
}

.footer__bottom {
    background: #1456A2;
    padding: 20px 35px;
}

.location {
    display: flex;
    align-items: center;
    margin-top: 24px;
}

.location svg {
    font-size: 1rem;
    color: #3789E6;
    margin-right: 10px;
}

.location p {
    color: rgba(255, 255, 255, 0.64);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    margin-bottom: 0;
    width: 298px;
}

.footer-list ul li {
    list-style: none;
    padding: 14px 20px;
}

.footer-list ul li a {
    text-decoration: none;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
    color: #FFFFFF;
    opacity: 0.64;
}

.social-list ul li {
    font-size: 20px;
    color: #E2E2E2;
    background: rgba(250, 250, 250, 0.08);
    border-radius: 50%;
    padding: 10px;
    height: 40px;
    width: 40px;
    margin: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.copyright p {
    color: #FFFFFF;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    opacity: 0.4;
}

/* .our__subsidiaries p {
    color: rgba(255, 255, 255, 0.64);
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
} */

.our__subsidiaries--header a {
    display: flex;
    width: 60%;
}

.our__subsidiaries--header h6 {
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
}

.our__subsidiaries--header svg {
    color: #f1f1f1;
    width: 25px;
    height: 15px;
}

.footer__lists {
    display: flex;
}

/* Contact Us CSS */
.career {
    padding: 120px 0;
}
.contactUs{
    height: 450px;
}

.contactUs__phone,
.contactUs__location {
    display: flex;
    align-items: center;
}

.contactUs__phone svg,
.contactUs__location svg {
    font-size: 1.3rem;
    color: #1456A2;
    margin-right: 10px;
}

.contactUs__phone p,
.contactUs__location p,
.team__descp p {
    margin-bottom: 0;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    color: var(--Black, #233852);
}

.team__descp {
    height: 470px;
    overflow-y: auto;
}

.team__descp ul li{
    margin-bottom: 15px;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    color: var(--Black, #233852);
    list-style: disc;
} 

.contactUs__box,
.success__message--box {
    background: #F5FAFE;
    padding: 35px;
}

.success__message--box {
    height: 450px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.contactUs__inputs input {
    border: 1px solid #D4E2ED;
    background: #FFF;
    padding: 24px;
    width: 100%;
    margin-bottom: 24px;
}

.career__inputs input {
    width: 94%;
    border: none;
    margin-bottom: 0;
}

.career__inputs {
    width: 60%;
    border: 1px solid #D4E2ED;
    background: #FFF;
    padding: 12px 24px;
    margin-bottom: 24px;
}

.contactUs__inputs textarea {
    width: 100%;
    height: 166px;
    border: 1px solid #D4E2ED;
    resize: none;
    margin-bottom: 24px;
    padding: 24px;
}

.submit__btn button {
    border-radius: 48px;
    background: var(--Primary, #1456A2);
    border: none;
    padding: 16px 24px;
    color: var(--White, #FFF);
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
}

.contactUs .contact__form--position {
    position: absolute;
    top: -340px;
    right: -60px;
}

/* home styles Css */
.hero {
    display: flex;
    align-items: center;
    padding: 315px 312px;
    background-size: cover;
    background-position: center center;
    height: 900px;
}

.overlay {
    background: #111;
    opacity: 0.5;
    height: inherit;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
}

.hero .container {
    position: relative;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.hero__heading h1 {
    font-size: 72px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    color: #FFF;
}

.hero__down {
    position: absolute;
    bottom: 10px;
    cursor: pointer;
}

.hero__down h4 {
    color: var(--White, #FFF);
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
}

.background__overflow--Right {
    position: relative;
}

.background__overflow--Right::after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 100vw;
    height: 100%;
    background-color: #1456A2;
}

.background__overflow--Left {
    position: relative;
}

.background__overflow--Left::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100%;

}

.networks .col-lg-8,
.networks .col-lg-4 {
    display: flex;
    align-items: center;
    padding-left: 0;
}

.networks__container {
    position: relative;
    z-index: 1000;
    padding: 15px 45px;
}

.our__mission {
    row-gap: 4rem;
    padding: 120px 100px 120px 0;
}

.networks__container--header {
    border-bottom: 1px solid rgba(255, 255, 255, 0.24);
    margin-bottom: 24px;
    padding: 24px 0;
}

.networks__container--header h2 {
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
}

.networks__container--para p {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    color: #FFF;
    opacity: 0.64;
}

.networks__container--image img,
.why__container--image img {
    width: 40px;
    height: 40px;
}

.hero__header h1 {
    text-transform: capitalize;
    font-size: 64px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    color: var(--Black, #233852);
}

.hero__header--white h1 {
    color: #FFF;
}

.networks__content1 {
    width: 412px;
    padding-left: 45px;
}

.hero__para p {
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
    color: var(--Black, #233852);
}

.networks__content2 {
    padding: 120px 120px 120px 60px;
}

.networks__content6 {
    padding: 120px 100px 120px 60px;
}

.hero__subHeader h4 {
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    color: var(--Black, #233852);
}

.hero__para--light p,
.why__container--para p,
.board__desgn p,
.team__desgn p {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
    color: var(--Black, #233852);
    opacity: 0.64;
}

.hero__para--light p{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 4.4em;
}

.next__sign a {
    font-size: 1.5rem;
    border: 1px solid #233852;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    color: #233852;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Story__image::after {
    background: url('../Images/Home/story.png');
    background-size: contain;
    background-position: initial;
}

.data {
    background: #1456A2;
    padding: 1px 100px;
}

.data ul {
    display: flex;
    justify-content: center;
}

.data ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    padding: 55px 70px;
}

.data__list1 ul li{
    padding: 55px 45px;
}

.data ul li:last-child {
    border-right: none !important;
}

.data__number h3,
.perks__header h3 {
    color: var(--White, #FFF);
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    display: flex;
}

.data__name p,
.hero__para--white p {
    color: var(--White, #FFF);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
}

.networks__content3 {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.news,
.subsidiaries {
    padding: 120px 100px;
}

.latest {
    margin-bottom: 25px;
    width: 480px;
    border-bottom: 1px solid rgb(26, 38, 53, 0.1);
    padding-bottom: 12px;
}

.latest:last-child {
    border-bottom: none !important;
}

.hero__latest p {
    color: var(--Black, #1A2635);
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    opacity: 0.64;
}

.hero__news--Header h4 {
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
    color: var(--Black, #1A2635);
}

.view__btn button {
    padding: 16px 28px;
    border: none;
    border-radius: 40px;
    background: var(--Primary, #1456A2);

    color: var(--White, #FFF);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
}

.subsidiaries__box--para {
    position: absolute;
    top: 0;
    padding: 3rem;
}

.subsidiaries__box--para p {
    color: var(--White, #FFF);
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
}

.optic,
.joinUS {
    padding: 80px 100px;
}

.hero__contact {
    width: fit-content;
    padding: 16px 24px;
    border-radius: 48px;
    border: 1px solid rgba(35, 56, 82, 0.40);
    color: var(--Black, #233852);
}

.hero__contact a {
    color: var(--Black, #233852);
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
    margin-right: 10px;
}

.optic__image::after {
    background: url('../Images/Home/optic.png');
    background-size: contain;
    background-position: initial;
}

.hero__blue .container {
    position: relative;
    height: inherit;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 30px;
}

.go-back {
    font-size: 2rem;
    color: #FFF;
    margin-bottom: 25px;
    cursor: pointer;
}

.solution__tabs--container {
    padding: 110px 0;
    border-bottom: 1px solid rgb(114, 128, 144, 0.64);
}

.networks__content4 {
    padding: 0 60px;
}

.networks__content5 {
    padding: 110px 0;
    padding-right: 320px;
}

.read__more p {
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    color: #1456A2;
    cursor: pointer;
    margin-bottom: 0;
}

.hero__subHeader1 h3,
.success-message p,
.admin__header h2 {
    color: var(--Black, #233852);
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
}

.hero__news--header2 h4 {
    color: var(--White, #FFF);
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: 130%;
}

.learn__more--btn button {
    padding: 16px 24px;
    background: #FFF;
    border: none;
    border-radius: 40px;
    color: var(--Black, #1A2635);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
}

.tabs {
    list-style: none;
    padding: 0;
    display: flex;
}

.tab {
    flex: 1;
    text-align: center;
    padding: 30px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    color: var(--Black, #233852);
    opacity: 0.64;
}

.tab.active {
    border-bottom: 5px solid #1456A2;
    color: var(--Primary, #1456A2);
    opacity: 1;
}

.tab-content {
    border: 1px solid #ddd;
    padding: 20px;
}

.tabs.sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    z-index: 100;
    box-shadow: 0px 2px 14px #111;
}

.aboutUs__tabs--container {
    padding: 100px 0;
}

.hero__list ul li {
    display: flex;
    color: #233852;
    margin-bottom: 20px;
}

.tick svg {
    margin-right: 10px;
    font-size: 1.2rem;
    font-weight: 600;
    color: #37C4CD;
}


.hero__list ul li p {
    color: var(--Black, #233852);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
    margin-bottom: 0;
}

.why__container--header h2,
.board__name h2,
.team__name h2 {
    color: var(--Black, #233852);
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    margin-top: 20px;
}

.whyUs__list .row .col-lg-4:nth-child(3n+2) {
    border-right: 1px solid rgba(114, 128, 144, 0.64);
    border-left: 1px solid rgba(114, 128, 144, 0.64);
}

.whyus__container {
    padding: 25px;
}

.board__container,
.team__container {
    background: #FFF;
    padding: 15px;
}

.team__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 370px;
    height: 471px;
}

.board__desgn p {
    height: 70px;
    width: 90%;
}

.board__linkdln {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #1456A20F;
    display: flex;
    justify-content: center;
    font-size: 1.3rem;
}

.heritage__image::after {
    background: url('../Images/AboutUs/heritage.png');
    background-size: contain;
    background-position: initial;
}

.swiper-slide {
    width: 60% !important;
}

.career__TopSection {
    padding: 120px 0;
    padding-top: 220px;
}

.View_opportunities h4 {
    color: var(--White, #1456A2);
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
    margin-top: 3rem;
}

.imgae__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    margin-top: 80px;
}

.grid-item img {
    width: 100%;
    height: auto;
}

.sub-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    margin-top: 18px;
}

.perks {
    background: var(--Primary, #1456A2);
    padding: 120px 100px;
}

.perks .hero__header {
    margin-bottom: 100px;
}

.perks__header {
    border-bottom: 1px solid rgba(255, 255, 255, 0.24);
    padding: 24px 0;
}

.perks__container{
    width: 360px;
}

.perks__header h3 {
    width: 60%;
}

.perks__para p {
    color: var(--White, #FFF);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
    opacity: 0.64;
    padding-top: 24px;
}

.perks__image img {
    width: 48px;
    height: 48px;
}

.fuelling {
    margin: 70px 0;
}

.fuelling__image::after {
    background: url('../Images/Careers/Fulleing.png');
    background-size: contain;
    background-position: initial;
}

.career__inputs svg {
    width: 35px;
    height: 35px;
    color: #1456A2;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.success__message svg {
    font-size: 50px;
    color: #233852;
}

.career__name h3 {
    color: var(--Black, #233852);
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
}

.Career__container {
    padding: 55px 0;
}

.career__details h4 {
    color: rgba(35, 56, 82, 0.64);
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
}

.career__details p {
    color: #233852;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
}

.apply__btn button,
.create__btn button,
.back__btn button {
    border: none;
    border-radius: 48px;
    background: var(--Primary, #1456A2);
    padding: 16px 24px;
    color: var(--White, #FFF);
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
}

.accordion-item {
    border: none !important;
}

.accordion-header button {
    color: var(--Primary, #1456A2) !important;
    font-size: 14px !important;
    font-weight: 600 !important;
    width: 200px;
    padding-left: 0 !important;
}

.accordion-button:not(.collapsed) {
    background-color: #FFFFFF !important;
}

.accordion-button:not(.collapsed) {
    box-shadow: none !important;
}

.accordion-button::after {
    background-image: none !important;
}

.accordion-button:focus {
    box-shadow: none !important;
}

.news__date p {
    color: var(--White, #FFF);
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    opacity: 0.64;
}

.news__header h1 {
    color: var(--White, #FFF);
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
}

.news__para p {
    color: var(--White, #FFF);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    opacity: 0.64;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 4.4em;
}

.read__more--btn button {
    padding: 16px 28px;
    border: none;
    border-radius: 40px;
    background: var(--White, #FFF);
    color: var(--Black, #233852);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
}

.hero__blue--newsbg {
    background: #1456A2;
    padding: 177px 0px 200px 0px;
}

.news__container {
    padding: 120px 0;
}

.news__cards {
    border: 1px solid rgba(114, 128, 144, 0.48);
    background: #FFF;
    padding: 32px;
    overflow: hidden;
    height: 470px;
    width: 360px;
}

.news__blogHeader h3 {
    color: var(--Black, #233852);
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.2;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 2.4em;
    margin-top: 12px;
}

.news__blogPara p {
    color: var(--Black, #233852);
    font-size: 18px !important;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 3.4em;
    margin-top: 15px;
}

.news__blogDate {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-overflow: hidden;
    margin-top: 32px;
}

.news__blogDate p {
    margin-bottom: 0;
    color: var(--Black, #233852);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
}

.news__blogDate svg {
    margin-bottom: 0;
    color: var(--Black, #233852);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
}

.blog__top {
    padding: 0 220px;
}

.blog__content .container {
    display: flex;
    flex-direction: column;
    padding: 0 250px;
    position: relative;
    bottom: 160px;
}

.blog__details p {
    color: var(--Black, #233852);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    margin-top: 30px;
    word-break: break-all;
}

.optic__details {
    padding: 50px 100px 50px 50px;
}

.modal {
    --bs-modal-width: 70% !important;
}

.modal-header {
    border-bottom: 0 !important;
}

.modal-body {
    padding: 2rem 3rem !important;
    padding-top: 0 !important;
}


/* Admin CSS */

.login .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 500px;
}

.login-container h2 {
    margin: 0;
    text-align: center;
}

.login-container form {
    display: flex;
    flex-direction: column;
}

.login-container label {
    margin: 10px 0;
    font-size: 18px;
    font-weight: 500;
}

.login-container button,
.logout__btn button {
    background: #007BFF;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.admin__dashboard,
.create__Blog {
    padding-top: 150px;
    padding-bottom: 100px;
}

.blog__inputs input {
    border: 1px solid #a9b5be;
    background: #FFF;
    padding: 12px;
    width: 100%;
    margin-bottom: 24px;
}

.action__items p svg {
    font-size: 20px;
    margin: 0 4px;
    cursor: pointer;
}

.action__items p svg:hover {
    color: #1456A2;
}

.action--delete svg:hover {
    color: red !important;
}

.action-view a,
.action-edit a {
    text-decoration: none;
    color: #111;
}

.create__Blog .container {
    background: #FFF;
    padding: 30px 20px;
    border-radius: 25px;
    box-shadow: 0px 2px 14px #111;
}

.blog__image--post {
    width: 500px;
    height: 350px;
    margin-bottom: 20px;
}

.hero__list--light ul li {
    list-style: initial;
    color: var(--Black, #233852);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
}

.team__linkedin {
    background: #1456A2;
    padding: 20px;
    border-radius: 50%;
    width: 109px;
    height: 109px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -20px;
    right: -18px;
    z-index: 1000;
}

.team__linkedin a {
    border-radius: 50%;
    padding: 10px;
    background: #FAFAFA;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination {
    margin-top: 30px;
    justify-content: center;
}

.pagination .active {
    color: #1456A2;
    background: #D4E2ED;
}

.pagination li {
    border: 1px solid #D4E2ED;
    padding: 10px 20px;
}

.pagination li a {
    text-decoration: none !important;
    color: #1456A2;
}

.career__name,
.career__details {
    word-break: break-all;
}

.indiaMap {
    background: #F5FAFE;
    padding: 100px 0;
    position: relative;
}

.map__details {
    width: 505px;
    position: absolute;
    bottom: 150px;
    right: 100px;
}

.map__points {
    padding-left: 0;
}

.map__points li {
    display: flex;
    align-items: center;
}

.map__points li p {
    margin-bottom: 0;
    margin-left: 15px;
}

.map {
    fill: #ADF0F5;
    stroke: #FFF;
    stroke-width: 0.8;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.map path:hover {
    /* stroke-width: 2;
    stroke: #17adf3; */
    fill: #5CE1EB;
}

.map .Chhattisgarh,
.map .Manipur,
.map .Mizoram,
.map .Tripura,
.map .Ladakh,
.map .Arunachal{
    fill: #E3F1FC;
}

.map .Chhattisgarh:hover,
.map .Manipur:hover,
.map .Mizoram:hover,
.map .Tripura:hover,
.map .Ladakh:hover,
.map .Arunachal:hover{
    fill: #E3F1FC;
}

.map path[title]:hover::after {
    content: attr(title);
}